.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);

    .nav-link {

      font-family: "Orbitron";
      font-size: '0.675rem';
      transition: '1s ease';
      text-align: 'center';

      @media (max-width: 1200px) {
        font-size: 0.475rem;
      }
    }
    
  }