.carousel-container {
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%; /* Full-screen height */
    margin: 0; /* Remove margin for full-screen */
    padding-right: 3%;
    padding-top: 4%;
    background-color: transparent;

    .carousel-pages {
        display: flex;
        cursor: grab;
        align-items: center;
        transition: transform 0.5s ease;

        &.active {
            cursor: grabbing;
        }
    }

    .carousel-page {
        aspect-ratio: 16 / 9; /* Default desktop aspect ratio */
        width: 100%;
        flex-shrink: 0;
        border-radius: 0.5rem;
        overflow: hidden;
        border: 1px solid rgb(255, 255, 255, 0.1);
        background-color: rgb(0, 0, 0, 0.3);
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease;
    }

    .dots-container {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
    
    .dot {
        height: 15px; /* Circle height */
        width: 15px;  /* Circle width */
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%; /* This makes the shape circular */
        background-color: rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s;
        cursor: pointer;
        box-sizing: border-box; /* Ensures padding and border are included */

        &.active {
            background-color: rgba(255, 255, 255, 0.5);
        }
        
    }
}

@media (max-width: 1400px) {
    .carousel-page {
        aspect-ratio: 1 !important;
    }
}

@media (max-width: 600px) {
    .carousel-container {
        height: 100%;
    }

    .carousel-page {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        overflow: hidden;
    }
}
