.clipboard-container {
  display: grid;
  width: 95%;
  max-width: 16rem;
  margin-top: 2rem;

  .clipboard-relative {
    position: relative;

    .clipboard-input {
      font-family: "Space Mono";
      font-size: 0.875rem;
      display: block;
      width: 80%;
      border-radius: 0.5rem;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background-color: rgba(0, 0, 0, 0.3); 
      padding: 0.625rem 2.5rem 0.625rem 0.625rem; /* Adjust padding to make space for the icon */
      color: rgba(255, 255, 255, 0.5);
    }

    .clipboard-icon {
      position: absolute; 
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
      border: none;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }
  }
}
